#payment {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: $Dark_blue;
    color: $White;

    h2 {
        font-size: 3rem;
        font-family: "Winky Sans";
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    
}